/* 自定义样式 */
body {
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* 导航栏激活状态样式 */
.menu a.active {
    background-color: hsl(var(--p) / 0.1);
    color: hsl(var(--p));
}

/* 文本区域样式增强 */
.textarea {
    resize: vertical;
    min-height: 120px;
}

/*.alert-warning {*/
    /*border-left: 4px solid #fbbf24;*/
    /*background-color: #fffbeb;*/
/*}*/
/**/
/*.alert-error {*/
    /*border-left: 4px solid #ef4444;*/
    /*background-color: #fef2f2;*/
/*}*/
/**/